## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,46.06,93,100,14.97,moderate rain
1,1,Fairbanks,US,64.8378,-147.7164,41.00,26,0,5.75,clear sky
2,2,Floriano,BR,-6.7669,-43.0225,77.40,84,98,3.94,overcast clouds
3,3,Bambous Virieux,MU,-20.3428,57.7575,75.22,87,30,11.05,light rain
4,4,Jamestown,US,42.0970,-79.2353,37.53,55,0,6.91,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,46.06,93,100,14.97,moderate rain
1,1,Fairbanks,US,64.8378,-147.7164,41.00,26,0,5.75,clear sky
2,2,Floriano,BR,-6.7669,-43.0225,77.40,84,98,3.94,overcast clouds
3,3,Bambous Virieux,MU,-20.3428,57.7575,75.22,87,30,11.05,light rain
4,4,Jamestown,US,42.0970,-79.2353,37.53,55,0,6.91,clear sky
5,5,Gobabis,NaN,-22.4500,18.9667,64.33,68,63,7.02,broken clouds
6,6,Buin,CL,-33.7333,-70.7500,71.87,60,5,2.64,clear sky
7,7,Milkovo,RU,54.7167,158.6167,35.19,57,50,4.61,scattered clouds
8,8,Ahipara,NZ,-35.1667,173.1667,69.58,91,95,13.04,light rain
9,9,Kapaa,US,22.0752,-159.3190,82.38,83,75,19.57,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,46.06,moderate rain,-54.8000,-68.3000,
1,Fairbanks,US,41.00,clear sky,64.8378,-147.7164,
2,Floriano,BR,77.40,overcast clouds,-6.7669,-43.0225,
3,Bambous Virieux,MU,75.22,light rain,-20.3428,57.7575,
4,Jamestown,US,37.53,clear sky,42.0970,-79.2353,
6,Buin,CL,71.87,clear sky,-33.7333,-70.7500,
7,Milkovo,RU,35.19,scattered clouds,54.7167,158.6167,
8,Ahipara,NZ,69.58,light rain,-35.1667,173.1667,
9,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,
10,Lazaro Cardenas,MX,79.18,overcast clouds,17.9583,-102.2000,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']

    except (IndexError):
        print("Hotel not found....Skip")

Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip
Hotel not found....Skip

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,46.06,moderate rain,-54.8000,-68.3000,Albatross Hotel
1,Fairbanks,US,41.00,clear sky,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
2,Floriano,BR,77.40,overcast clouds,-6.7669,-43.0225,Hotel Maktub
3,Bambous Virieux,MU,75.22,light rain,-20.3428,57.7575,Casa Tia Villa
4,Jamestown,US,37.53,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
# 11b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))